<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
  <a class="navbar-brand" href="/">NEWS U CAN USE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/scrape">Scrape<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">NEWS U CAN USE</h1>
    <p class="lead"></p>
  </div>
</div>

<div> 
    {{#each dbArticle}}

{{this.title}}
{{this.link}}
    

  {{/each}}
</div>
{{!-- <div class="card">
    {{#each article}}
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.link}}</p>
    <a href="#" class="btn btn-primary">Add a Note</a>
  </div>
  {{/each}}
</div> --}}