<div class="row">
    {{#each influencer}}
    <div class="col s4">
        <div class="card hoverable">
            <div class="card-image">
                <img class="activator" src="/assets/images/background_app.jpg">
                <span class="card-title" id="influencer-name">{{this.first_name}} {{this.last_name}}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue" data-position="top"
                    data-tooltip="Message Me!" id="chatButton">
                    <i class="material-icons">message</i></a>
            </div>
            <div class="card-content">
                <p><a href="#">View profile link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">About Me<i
                        class="material-icons right">close</i></span>
                <p id="about-influecer">
                    {{this.bio}}
                </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
  <a class="navbar-brand" href="/">NEWS U CAN USE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/scrape">Scrape<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">NEWS U CAN USE</h1>
    <p class="lead"></p>
  </div>
</div>

<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>